* {
    font-family: 'Krona One', sans-serif;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  margin-top: 3vh;
}

nav {
    margin-left: 2vw;
    display: inline-block;
    flex: auto;
}

.nav-link {
    color: black;
    text-decoration: none;
    display: inline;
    padding-right: 2px;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin-top: 30vh;
}

.container {
  margin-top: 8vh;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 20%;
  max-width: 20%;
  padding: 4px;
  
}

 img {
  vertical-align: middle;
  width: 100%;
  margin-top: 8px;

}
