* {
    font-family: 'Krona One', sans-serif;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.is-3 {
  color: black;
  margin-left: 5vw;
  margin-top: 5vh;
}

.navbar-burger {
  margin-top: 5vh;
}

.navbar-end {
  margin-top: 5vh;
  margin-right: 5vw;
}

.is-6 {
  color: black;
}



.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  
}

.container {
  padding: 90px;
}

.column {
  padding: 4px;

}

 img {
  vertical-align: middle;
  width: 100%;
  margin-top: 8px;

}

.navbar {
  min-height: unset; 
  height: 100px;
}
