* {
    font-family: 'Krona One', sans-serif;
}

nav {
    margin-left: 2vw;
    display: inline-block;
    flex: auto;
}

.nav-link {
    color: black;
    text-decoration: none;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin-top: 30vh;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.img-container {
  margin-top: 40px;
  margin-left: 15vw;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .container, nav  {
    max-width: 100%;
  }
  .img-fluid {
    width: 100%;
    height: auto;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
.container, nav{
  max-width: 100%;
}
.img-fluid {
  width: 100%;
  height: auto;
}
}