* {
    font-family: 'Krona One', sans-serif;
}


nav {
  margin-top: 2vh;
  margin-left: 2vw;
  display: inline-block;
  flex: auto;
}

.nav-link {
  color: black;
  text-decoration: none;
  display: inline;
  padding-right: 0vw;
  padding-left: 0px;
}

.nav-link:hover{
  text-decoration: underline;
  color: black;
}


.img-container {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.faI {
    font-size: 50px;
    margin-top: 20vh;
    margin-left: 2vw;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin-top: 30vh;
}

p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

address {
    margin: auto;
    text-align: center;
}

#email {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#email:hover {
    text-decoration: underline;
}

.logo:hover {
    opacity: 70%;
    
}


.column-l {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column-r {
    float: right;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column-l, .column-r {
      width: 100%;
    }
  }

  .web-container {
      margin-top: 20vh;
      text-align: center;
  }


  .animate__animated.animate__fadeIn {
    --animate-duration: 2s;
  }

  h4{
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 3vw;
  }

  hr {
    width: 30vw;
    margin-left: 68vw;
  }

.container-y {
border: solid;
border-left: none;
border-color: rgb(211, 172, 0);
width: 2vw;
float: left;
}

#resumeL {
  text-align: center;
}
#resumeL:hover {
  text-decoration: underline;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .container, nav  {
    max-width: 100%;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
.container, nav{
  max-width: 100%;
}
}